body {
    color: #fff;
    opacity: 1;
    transition: 1s opacity;
    overflow: hidden;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

p {
    margin: 10px 0 40px 0;
    font-size: .8em;
    width: 375px;
}

section {
    background-size: cover;
    background-position: center center; /* First value is from left and second is from top. */
    background-repeat: no-repeat;
    opacity: 0; 
    transition: 1s;
    transition-timing-function: ease-in;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section:nth-child(1) {
    background-image: url(../assets/1.png);
}
section:nth-child(2) {
    background-image: url(../assets/2.png);
}
section:nth-child(3) {
    background-image: url(../assets/3.png);
}

.container-fluid {
    padding: 3% 5% 0 6%;
}

.vertical-text {
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    cursor: default;
    opacity: .7;
    position: absolute;
    top: 6%;
    right: 5.5%;
}

.second {
    margin-top: 9%;
}

.next-page {
    color: #5bcbff;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(199, 199, 199, 0.7);
    position: absolute;
    top: 85%;
    left: 5.9%;
    cursor: pointer;
}

.right-arrow {
    width: 99px;
    height: auto;
    display: inline-block;
    padding-top: 20px;
    background-image: url(../assets/arrowright.png);
    -o-object-fit: cover;
    object-fit: cover;
    margin-left: 20px;
    position: absolute;
    top: 85%;
    left: 13%;
    cursor: pointer;
}

.right {
    text-align: right;
}

.header {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1em;
    width: 375px;
}

.secondary-header {
    padding-top: 50%;
}

.down-arrow {
    background-image: url(../assets/arrowdown.png);
    width: 19px;
    height: 100px;
    position: absolute;
    top: 70%;
    right: 5.5%;
    cursor: pointer;
}

.text-container {
    margin-top: 11%;
}

.separator {
    font-weight: 700px;
    font-size: 1.9em;
}

.counter {
    display: inline-block;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 1.3em;
    position: relative;
}

.counter-label {
    position: absolute;
    top: 120px;
    left: 30px;
    word-spacing: 45px;
}

.counter-label-2 {
    position: absolute;
    top: 120px;
    left: 195px;
    word-spacing: 24px;
}

.phone-separator {
    display: inline;
}

.onepage-pagination {
    position: absolute;
    top: 50%;
    right: .8%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}

.disabled-onepage-scroll .onepage-pagination {
    display: none;
}

.counter:not(:first-child) {
    font-weight: 700;
}

#logo {
    position: absolute;
    top: 6%;
    left: 6.1%;
}

/* Phone */
@media only screen and (max-width: 520px) {
    .counter {
        display: inline-block;
    }
    
    .separator {
        display: none;
    }
    
    .text-container {
        margin-top: 19%;
    }
    
    .right-arrow {
        display: none;
    }
    
    p, .header {
        max-width: 90%;
    }
    
    .onepage-pagination {
        right: -10%;
    }
    
    .next-page { 
        top: 89%;
    }
    
    .phone-separator {
        display: block;
        margin: 10px 0;
    }
    
    .counter-label {
        left: 27px;
    }
    
    .counter-label-2 {
        top: 220px;
        left: 17px;
    }
}

/* Tablet */
@media (min-width: 521px) and (max-width: 800px) {
    
    p, .header{
        width: 500px;
    }
    
    .right-arrow {
        display: none;
    }
    
    .onepage-pagination {
        right: -2.5%;
    }
    
}